@import url("https://fonts.googleapis.com/css?family=Kalam|Roboto");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="datetime-local"] {
  -moz-appearance: textfield; }

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="date"] {
  -moz-appearance: textfield; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

html, body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../image/abstract-material-design.jpg"); }

.loading {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8); }
  .loading .body {
    top: 50%;
    width: 200px;
    margin: auto;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .loading img {
    width: 100%;
    display: block; }
  .loading span {
    color: #555;
    display: block;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto",sans-serif; }

.form {
  top: 50%;
  width: 85%;
  margin: auto;
  padding: 25px;
  min-width: 200px;
  max-width: 300px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .form img {
    width: 40%;
    margin: auto;
    display: block; }
  .form span {
    color: #555;
    display: block;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    font-family: "Kalam",fantasy; }
  .form button {
    height: 40px;
    margin: auto;
    border: none;
    outline: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #39579B;
    border-bottom: 3px solid #314C88; }
  .form button:active {
    border-bottom: 2px solid #314C88;
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  @media screen and (max-width: 400px) {
    .form span {
      font-size: 25px; }
    .form button {
      font-size: 13px; } }
