@import url("https://fonts.googleapis.com/css?family=Kalam|Roboto");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="datetime-local"] {
  -moz-appearance: textfield; }

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="date"] {
  -moz-appearance: textfield; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

html, body {
  background-color: #F1F1F1 !important; }

.welcome-msg {
  color: #777;
  font-size: 16px;
  font-family: "Roboto",sans-serif; }

.empty-array {
  color: #555;
  font-size: 35px;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }

.todo {
  left: 0;
  right: 0;
  top: 50px;
  width: 80%;
  margin: auto;
  max-width: 900px;
  position: absolute; }

.todo-list {
  margin: 0;
  padding: 0;
  margin-bottom: 50px; }
  .todo-list li {
    list-style: none;
    transition-duration: 0.3s; }
    .todo-list li .todo-title {
      width: 100%;
      height: 50px;
      cursor: pointer;
      position: relative; }
      .todo-list li .todo-title span {
        top: 50%;
        color: #555;
        display: block;
        font-size: 20px;
        position: relative;
        padding-left: 20px;
        padding-right: 40px;
        box-sizing: border-box;
        font-family: "Roboto",sans-serif;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .todo-list li .todo-title .arrow-icon {
        top: 0;
        bottom: 0;
        right: 10px;
        width: 18px;
        height: 18px;
        margin: auto;
        position: absolute; }
      .todo-list li .todo-title .arrow-icon::before {
        color: #999;
        width: 100%;
        height: 100%;
        font-size: 18px;
        position: absolute; }
    .todo-list li .todo-detail {
      margin: 0;
      display: none;
      box-sizing: border-box;
      background-color: #F1F1F1;
      padding: 10px 20px 20px 20px; }
      .todo-list li .todo-detail div {
        padding: 0; }
      .todo-list li .todo-detail input {
        height: 40px;
        color: #555;
        width: 100%;
        padding: 5px;
        outline: none;
        font-size: 18px;
        background-color: #FFF;
        box-sizing: border-box;
        border: 1px solid #AAA;
        font-family: "Roboto",sans-serif; }
      .todo-list li .todo-detail textarea {
        resize: none;
        height: 100px;
        display: block;
        color: #555;
        width: 100%;
        padding: 5px;
        outline: none;
        font-size: 18px;
        background-color: #FFF;
        box-sizing: border-box;
        border: 1px solid #AAA;
        font-family: "Roboto",sans-serif; }
      .todo-list li .todo-detail select {
        height: 40px;
        color: #555;
        width: 100%;
        padding: 5px;
        outline: none;
        font-size: 18px;
        background-color: #FFF;
        box-sizing: border-box;
        border: 1px solid #AAA;
        font-family: "Roboto",sans-serif; }
      .todo-list li .todo-detail button {
        float: right;
        display: block;
        margin-top: 20px;
        margin-left: 20px; }
      .todo-list li .todo-detail .input-label {
        color: #555;
        display: block;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Roboto",sans-serif; }
  .todo-list li:hover {
    background-color: #FFF; }

.create-todo {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px; }
  .create-todo div {
    padding: 0; }
  .create-todo input {
    height: 40px;
    color: #555;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 18px;
    background-color: #FFF;
    box-sizing: border-box;
    border: 1px solid #AAA;
    font-family: "Roboto",sans-serif; }
  .create-todo textarea {
    resize: none;
    height: 100px;
    display: block;
    color: #555;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 18px;
    background-color: #FFF;
    box-sizing: border-box;
    border: 1px solid #AAA;
    font-family: "Roboto",sans-serif; }
  .create-todo select {
    height: 40px;
    color: #555;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 18px;
    background-color: #FFF;
    box-sizing: border-box;
    border: 1px solid #AAA;
    font-family: "Roboto",sans-serif; }
  .create-todo button {
    float: right;
    display: block;
    margin-top: 20px;
    margin-left: 20px; }
  .create-todo .input-label {
    color: #555;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto",sans-serif; }
