@import url('https://fonts.googleapis.com/css?family=Kalam|Roboto');

$mobile:400px;

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// Remove Input Number Spinner
input[type="number"] {
    -moz-appearance:textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Remove Input Datetime Spinner
input[type="datetime-local"] {
    -moz-appearance:textfield;
}
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
